@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top,  #0b0a2a ,   #131146  )
}
.swal-modal{
    background-color: #0b0a2a;
}

.swal-title{
    color: white;
}

.swal-text{
    color: white;
}

html{
    scroll-behavior: smooth;
    background-color:  #0b0a2a;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background:  #131146 ;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar .sidebar-logo .logo .gambar-logo{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.sidebar .sidebar-logo .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5 ease;
}

.sidebar .sidebar-logo .logo .bx{
    color: #fff;
}

.sidebar-logo .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.sidebar-logo .logo .nama-logo{
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    color: #fff;
    margin-left: -10px;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #252e50 ;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.sidebar ul li .bx{
    color: white;
}

.sidebar ul li .fa{
    color: white;
}

.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: white;
    font-size: 18px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
    background: #fff;
    color: black;
}

.sidebar ul li a span:hover{
    /* color: #1d1b31; */
    color: #8D9EFF;
}

.sidebar ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 6px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #252e50;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li span{
    color: #fff;
}

.sidebar .nama-menu{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .info-profil{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .info-profil .profil{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
    background:  #0b0a2a;
}

.sidebar .info-profil .profil .bx{
    color: #fff;
}

.info-profil .profil .detail-profil{
    display: flex;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    white-space: nowrap;
}

.profil .detail-profil img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
}

.profil .detail-profil .nama-user{
    margin-left: 10px;
}

.profil .detail-profil .nama{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.profil .detail-profil .status{
    font-size: 12px;
    color: #fff;
}

.profil #log-out{
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 22px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: none;
}

.halaman-info{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    
}

.sidebar ~ .halaman-info{
    width: calc(100% - 240px);
    left: 250px;
}

.halaman-info h3{
    font-family: 'League Spartan', sans-serif;
    font-size: 200%;
    margin-top: 50px;
    margin-left: 50px;
    color: #fff;
}

/* Halaman Developers */

.anggota-container{
    padding: 0 200px;
    margin-top: 10vh;
    overflow: hidden;
}

.box-list-anggota{
    position: relative;
}

.halaman-info h1{
    color: #fff;
    align-items: center;
    text-align: center;
}


.list-anggota{
    display: flex;
    height: 500px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    justify-content: center;
}

.anggota{
    margin-right: 50px;
    position: relative;
}

.anggota:hover .anggota-img{
    transform: scale(1.2);
    margin: 0px 30px;
    opacity: 0.5;
}

.anggota:hover .nama-anggota,
.anggota:hover .deskripsi-anggota{
    opacity: 1;
}

.anggota-img{
    width: 270px;
    height: 350px;
    object-fit: cover;
    object-position: center; /* menambahkan properti object-position */
    transition: all 1s ease-in-out;
    border-radius: 20px;
}

.nama-anggota{
    background-color: #ffffff;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 6px;
}

.deskripsi-anggota{
    background-color: #e7d9d9;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 32%;
    left: 10px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
    border-radius: 8px;
}

.video-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -90vh;
}

video {
    max-width: 90%;
    max-height: 90%;
    margin-left: 5vh;
}


.demo-video{
    margin-bottom: 10px;
    margin-top: 10vh;
    padding: 0 120px;
}

.demo-title{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background:   #131146 ;
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

